main{
    display: flex;
    flex-wrap: wrap;
}

div{
    padding: 0.5cm;
    margin: 0.5cm;
    width: 20%;
    font-size: 14pt;
    font-weight: 800;
    text-align: center;
}

@media print{
    header{
        display: none;
    }
}